In [ ]:
import pandas as pd 
import numpy as np 
df1=pd.read_csv('tmdb_5000_credits.csv')
df2=pd.read_csv('tmdb_5000_movies.csv')

### before i start the modelling i, am going to merge df1 and df2 on movie_id  and title, this is because these are the common columns in both DataFrames

In [2]:
print(df1.shape)
print(df1.info())
df1.head(2)

(4803, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
None

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [3]:
print(df2.shape)
print(df2.info())
df2.head(2)

(4803, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB
None

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

### to merge succesfully i simply had to rename 'movie_id' in df1 to 'id' so it can have same column name as df2

In [4]:
df1.columns = ['id','title','cast','crew']
df3= df2.merge(df1,on=['id','title'])
print(df3.shape)
print(df3.info())
df3.head(3)

(4803, 22)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB
None

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

### The modelling task 1. wants us to create a classifier that takes the crews job from a movie and tells u if the movie is an 'Animation' movie or 'Not_Animation" movie

To complete this task we can either train a Supervised or an Unsupervised machine learning Classifier. I would be trying the supervised machine learning approach here.
 
1. for the supervised machine learning approach, we need labels for the movies stating if they are Animation or Not_Animation. But from the Dataset such explicit labels are not given for a movies.

2. On a more closer Analysis of the dataset, you would notice that such labels can be extracted from the 'genres' column as there is a list containing all the genres of a given movie.

3. So for this i would define a function that iterates through that list and gives labels for each movie for if it is 'Animation' or 'Not_Animation'

4. For this task we would not be using all the features of the Dataset, we would be using only ('genres','original_title','crew') column, as these are were the attributes needed to ttrain the classifier are found

In [5]:
# selecting the features needed for the modeling and assigning to variable df
df = df3.loc[:,['genres','original_title','crew']]
print(df.info())
df.head(2)
# we can see there are no null values in the selected features

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   original_title  4803 non-null   object
 2   crew            4803 non-null   object
dtypes: object(3)
memory usage: 150.1+ KB
None

,genres,original_title,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

#### Here i applied the literal_eval function to help with the iteration and extraction of data inside of the json columns 'genres' and 'crew'

In [6]:
from ast import literal_eval
col_names = ['genres','crew']
for cols in col_names:
    df[cols] = df[cols].apply(literal_eval)

#### This function here simply extracts all the genres from a movie and appends them to a list. stuffs like id and name are not needed here, we just need the genres.

In [7]:
def get_genres(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        
        return names
df['genres'] = df['genres'].apply(get_genres)

#### For the crew members, we dont need their names or their sex, all we require is their job, and so the function below helps extract the jobs of all the crew members and appends them in a list.

In [8]:
#function for crew memebers
def get_jobs(x):
    if isinstance(x, list):
        jobs = [i['job'] for i in x]
        
        return jobs

    #Return empty list in case of missing Data
df['crew'] = df['crew'].apply(get_jobs)

In [9]:
df.head(3)

,genres,original_title,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[Editor, Production Design, Sound Designer, Su..."
1,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Director of Photography, Director, Producer, ..."
2,"[Action, Adventure, Crime]",Spectre,"[Original Music Composer, Director, Set Decora..."

#### we could clearly see that the features have been extracted succesfully, but i must point out a few things.

#### 1. I would be using a Bag_of_Words model to count every individual job title in a row and record how many times they occur in that row 

#### 2. To Use the Bag of words model, The data has to be transformed to be in sentence form, where each row is a string containing

####        all the job titles as a single string seperated by commas or a white space, and not individual strings in a list.

#### 3. To achieve This i would define a function that takes text-strings in a list and combines them to a single string.

In [10]:
# column before the transformation
df['crew']

0       [Editor, Production Design, Sound Designer, Su...
1       [Director of Photography, Director, Producer, ...
2       [Original Music Composer, Director, Set Decora...
3       [Original Music Composer, Producer, Screenplay...
4       [Screenplay, Director, Thanks, Producer, Casti...
                              ...
4798    [Director, Director of Photography, Editor, Pr...
4799    [Director, Producer, Writer, Producer, Cinemat...
4800    [Costume Design, Producer, Director of Photogr...
4801                                   [Director, Writer]
4802    [Executive Producer, Executive Producer, Direc...
Name: crew, Length: 4803, dtype: object

In [11]:
def join_strings(x):
    return " ".join(x)
df['crew'] = df['crew'].apply(join_strings)

#### Notice the difference before and after the application of the function. The list and the Comma have been removed.

In [12]:
df['crew']

0       Editor Production Design Sound Designer Superv...
1       Director of Photography Director Producer Scre...
2       Original Music Composer Director Set Decoratio...
3       Original Music Composer Producer Screenplay Di...
4       Screenplay Director Thanks Producer Casting So...
                              ...
4798    Director Director of Photography Editor Produc...
4799    Director Producer Writer Producer Cinematograp...
4800    Costume Design Producer Director of Photograph...
4801                                      Director Writer
4802    Executive Producer Executive Producer Director...
Name: crew, Length: 4803, dtype: object

#### Finally, this function helps to iterate through the genres column to check if a movie is animated or not.  

#### Note:

#### some of the movies have no genres and so the function would return None is such cases

In [13]:
def get_labels(frame):

    for i in range(len(frame)):
        if 'Animation' in frame[i]:
            return 'Animation'
        elif 'Animation' not in frame:
            return 'Not_Animation'
        else:
            return 'Not_Animation'
    
df['labels'] = df['genres'].apply(get_labels)

In [14]:
# Transformed Dataset with the newly created labels feature
df.tail(5)

,genres,original_title,crew,labels
4798,"[Action, Crime, Thriller]",El Mariachi,Director Director of Photography Editor Produc...,Not_Animation
4799,"[Comedy, Romance]",Newlyweds,Director Producer Writer Producer Cinematograp...,Not_Animation
4800,"[Comedy, Drama, Romance, TV Movie]","Signed, Sealed, Delivered",Costume Design Producer Director of Photograph...,Not_Animation
4801,[],Shanghai Calling,Director Writer,None
4802,[Documentary],My Date with Drew,Executive Producer Executive Producer Director...,Not_Animation

####  I would be using the following tranformers 
1. CountVectorizer also known as Bag_of_Words and would be including (include stop_words, lemmatization and ngram_range) as hyperparameters.
2. I would include somme customized stopwords, and hence wont have need for tfidfTransformer for weight reduction
3. i will be using the MultinomiialNaiveBayes model as the classifier ( its input features would be the output from the CountVectorizer).
4. Finally the whole process would be encapsulated into a scikit_learn pipeline
5. I would also split the Data and use some for training and the others for testing

### i am going to try two approach

#### 1. Training the model on a slice of the observations because of tthe imbalance on the Animation and Not_Animation movies. This is solely for the usage of accuracy for evaluation of the performance of the classifier.

#### 2. The second approach i would fit the model to all the observations.

### Approach 1

#### So there are 123 movies with labels Animatin and 4652 with labels Not_animation and 28 movies with no label, so i would take all the 123 Animation movies and 177 Not_animated movies to train the model. this way the classifier has an almost equal amount of documents to learn from.

In [15]:
df1 = df[df.labels == 'Animation']
df2 = df[df.labels == 'Not_Animation'].iloc[:177,:]

In [16]:
print('The shape of df1 is: {}'.format(df1.shape))
print('\n')
print(f'The shape of df2 is:{df2.shape}')

The shape of df1 is: (123, 4)


The shape of df2 is:(177, 4)

#### So here i simply join the two dataframes and shuffle the dataset

In [17]:
from sklearn.utils import shuffle
df_slice = df1.append(df2)
df_slice = shuffle(df_slice)
df_slice = df_slice.reset_index(drop = True)
print(f'The shape of the Appended Slice is: {df_slice.shape}')

The shape of the Appended Slice is: (300, 4)

In [18]:
df_slice.head(2)

,genres,original_title,crew,labels
0,"[Adventure, Action, Thriller]",Mission: Impossible III,Producer Costume Design Casting Producer Makeu...,Not_Animation
1,"[Action, Adventure, Science Fiction]",Captain America: The Winter Soldier,Casting Art Direction Screenplay Screenplay Ar...,Not_Animation

#### Before i proceed i must define my documents and my labels. The document here means what we consider as a unit of analysis, i.e an observation, and i already pointed out that the job title of each row would be our document and the labels would be its accompanying label.That is we would have a total of 300 documents and labels. Now all that is left is to transform them into a form the BOW model would recognize which is an array.

In [19]:
doc = df_slice['crew'].values
label = df_slice['labels'].values

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(doc,label,test_size = 0.2, random_state = 0)

In [21]:
(pd.Series(y_test)).value_counts()

Animation        31
Not_Animation    29
dtype: int64

In [22]:
import spacy
nlp = spacy.load('en_core_web_sm')

#### Stop words are words that are not to be counted in the bag of words model. spacy already has a stop_word estimator that is made of a dictionary of words, but it also allows us to add our own stop words to the dictionary.

#### I would be adding some very common words that appear in both documents refering to Animated movies and Non_Animated movies.

#### words like Editor, Director, Art appear multiple times in bothe documents and if they are counted would have very highe weights and hence make it dificult for the classifier to dintinguish between key elements.

#### Lemmatization simply implies Reducing Each words to its lemar. words like ( run, ran, runs, and running) would all be counted as run.

In [23]:
from spacy.lang.en import STOP_WORDS
stop_words_str = " ".join(STOP_WORDS)
stop_words_lemma = set(word.lemma_ for word in nlp(stop_words_str))

additional_words = ['Editor','Art','Sound','Producer',
             'Director','Acting','Crew','Camera','Writing',
             'Sound','lighting','Executive Producer',
             'Production Design','Thanks','Casting',
             'Original Music Composer','Screenplay'
             'Additional Soundtrack','Associate Producer',
             'Set Designer','Set Production','Driver','Assistant']

for word in additional_words:
    stop_words_lemma = stop_words_lemma.union({word})

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer,TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline





bow = CountVectorizer(ngram_range = (1,1), stop_words=stop_words_lemma)




pipe = Pipeline([('bag_of_words', bow),('classifier', MultinomialNB())])
pipe.fit(x_train,y_train)


print('Training accuracy For the Sliced DataFrame is: {}'.format(pipe.score(x_train,y_train)))

Training accuracy For the Sliced DataFrame is: 0.8708333333333333

C:\Users\Anthony\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:386: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['acting', 'art', 'assistant', 'associate', 'camera', 'casting', 'composer', 'crew', 'design', 'designer', 'director', 'driver', 'editor', 'executive', 'music', 'original', 'producer', 'production', 'pron', 'screenplayadditional', 'set', 'sound', 'soundtrack', 'thanks', 'writing'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [25]:
y_pred = pipe.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score, recall_score
accuracy = accuracy_score(y_test, y_pred)
print('The Accuracy on The Test Set of the sliced DataFrame is: %s' % accuracy)

The Accuracy on The Test Set of the sliced DataFrame is: 0.9333333333333333

#### The test accuracy is quite good, and since there is not much inbalance in the dataset the metric is acceptable. Now lets train the model using all the observations.

### Approach 2

In [27]:
# Transformed Dataset with the newly created labels feature
df.tail(5)

,genres,original_title,crew,labels
4798,"[Action, Crime, Thriller]",El Mariachi,Director Director of Photography Editor Produc...,Not_Animation
4799,"[Comedy, Romance]",Newlyweds,Director Producer Writer Producer Cinematograp...,Not_Animation
4800,"[Comedy, Drama, Romance, TV Movie]","Signed, Sealed, Delivered",Costume Design Producer Director of Photograph...,Not_Animation
4801,[],Shanghai Calling,Director Writer,None
4802,[Documentary],My Date with Drew,Executive Producer Executive Producer Director...,Not_Animation

#### Let's define our labels and document, we can see that some labels are empty, so we would fill such rows with an  empty string

In [28]:
doc = df['crew'].values
# lets show the document(job  titles) for NewlyWeds
doc[4799]

'Director Producer Writer Producer Cinematography Music Editor Producer'

In [29]:
# For the  empty labels we would fill them up with an empty string
label = df['labels']
print('The empty labels rows are: {}'.format(label.isnull().sum()))
label = label.fillna(' ')
#label = label.values
label.value_counts()

The empty labels rows are: 28

Not_Animation    4652
Animation         123
                   28
Name: labels, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(doc,label,test_size = 0.2, random_state = 0)

In [31]:
(pd.Series(y_test)).value_counts()

Not_Animation    930
Animation         28
                   3
Name: labels, dtype: int64

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer,TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline





bow = CountVectorizer(ngram_range = (1,1), stop_words=stop_words_lemma)




pipe = Pipeline([('bag_of_words', bow),('classifier', MultinomialNB())])
pipe.fit(x_train,y_train)


print('Training accuracy: {}'.format(pipe.score(x_train,y_train)))

C:\Users\Anthony\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:386: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['acting', 'art', 'assistant', 'associate', 'camera', 'casting', 'composer', 'crew', 'design', 'designer', 'director', 'driver', 'editor', 'executive', 'music', 'original', 'producer', 'production', 'pron', 'screenplayadditional', 'set', 'sound', 'soundtrack', 'thanks', 'writing'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

Training accuracy: 0.9666840187402395

In [34]:
y_pred = pipe.predict(x_test)

#### The test accuracy is improved here, although there is an imbalance but our initial test validates this.

In [35]:
from sklearn.metrics import accuracy_score, recall_score
accuracy = accuracy_score(y_test, y_pred)
print('The Accuracy on The Test Set is: %s' % accuracy)

The Accuracy on The Test Set is: 0.9708636836628513

#### You can use this to check for a particular Movie Title just change the row index number for a different movie

In [36]:
movie_name = df.loc[93,'original_title']
movie_name

'Terminator 3: Rise of the Machines'

#### You can use this to get the crew Job.

In [37]:
crew_job = df.loc[93,'crew']
crew_job

'Director of Photography Characters Executive Producer Music Editor Characters Producer Makeup Department Head Director Screenplay Story Screenplay Story Story Producer Producer Original Music Composer Editor Editor Casting Production Design Art Direction Art Direction Art Direction Set Decoration Costume Design Sound Effects Editor Boom Operator Executive Producer 3D Supervisor Costume Supervisor Unit Production Manager Stunts Special Effects Supervisor Executive Producer Executive Producer Dolby Consultant Executive Producer Casting Makeup Artist Sculptor Production Sound Mixer Producer Makeup Effects Line Producer First Assistant Editor Producer Prosthetic Supervisor Sound Editor Production Supervisor Production Illustrator Second Unit Cinematographer Stunt Coordinator Makeup Effects Supervising Sound Editor Assistant Art Director Executive Producer Executive Producer Loader Sound Designer Visual Effects Art Director Assistant Director Visual Effects Editor Script Supervisor Producer Makeup Effects Set Designer Costume Supervisor Art Direction Construction Foreman Location Manager Transportation Coordinator Digital Effects Supervisor Special Effects Coordinator First Assistant Sound Editor Property Master Set Costumer Visual Effects Coordinator Steadicam Operator Transportation Captain Leadman Construction Coordinator Systems Administrators & Support Conceptual Design Visual Effects Producer Digital Intermediate Hair Department Head Unit Publicist Dialogue Editor Armorer Visual Effects Supervisor Key Hair Stylist Still Photographer CG Supervisor Propmaker Storyboard Sequence Supervisor Post Production Supervisor Painter Orchestrator Quality Control Supervisor Executive Music Producer Set Dressing Supervisor Casting Associate Set Production Assistant Stand In Production Accountant Video Assist Operator Software Engineer Foley Rigging Grip Projection Craft Service Set Medic Visual Effects Lighting Technician Production Controller Art Department Assistant Art Department Coordinator Greensman Lead Painter Additional Camera First Assistant Camera Grip Hairstylist Makeup Designer Set Dressing Artist Driver Picture Car Coordinator Post Production Assistant Security Sound Recordist Utility Stunts Layout Best Boy Electric Electrician Gaffer Production Coordinator Publicist Researcher Sound Mixer Digital Compositors Motion Capture Artist Thanks Stunts'

#### And finally you can check if a movie is animation or not by Passing the crew's_job as an argument in a list here

In [38]:
y_pred = pipe.predict([crew_job])
y_pred

array(['Not_Animation'], dtype='<U13')

### you can also search for a random movie online, pass the jobs of the crew as an array delimited by space into the predictor, the model would tell you if that movie is an animation movie or not even without seeing the genre. all it needs to make predictions are the crew's job.